@import "~ionicons/css/ionicons.css";
// @import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

.chat-container {
    position: fixed;
    right: 20px;
    bottom: 20px;
    .main-btn {
        float: right;
        cursor: pointer;
        background: #666666;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        color: white;
        text-align: center;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
        i {
            display: inline-block;
            transition: 300ms all ease-in-out;
            font-size: 35px;
            line-height: 55px;
            width: 50px;
            height: 50px;
        }
        &:hover{
            box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.7);
        }
        &.toggled{
            i {
                transform: rotate(360deg);
            }
        }
    }
}